<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/plantilla}">
<head>
    <title>Error 500 - Error interno</title>
    <link th:href="@{/css/forms.css}" rel="stylesheet" />
</head>

<body class="bg-gradient-primary">
<main layout:fragment="contenido">
    <section class="container text-center py-5" role="alert" aria-label="Error 500 - Interno del servidor">
        <h1 class="display-4 text-danger">500</h1>
        <p class="lead">Algo ha salido mal en nuestro servidor.</p>
        <a href="/contactos/nuevo" class="btn btn-primary mt-3" aria-label="Contacte con nosotros">Contacte con nosotros</a>
    </section>
</main>
</body>
</html>
