<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/plantilla}"
      lang="es">
<body>
<div layout:fragment="contenido">

    <main>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Mis Reservas</h1>
        </div>

        <table class="table table-bordered align-middle text-center">
            <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Fecha entrada</th>
                <th>Fecha salida</th>
                <th>Total (€)</th>
                <th>Estado</th>
                <th>Comentarios</th>
                <th>Descargar Factura</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reserva : ${reserva}"> <td th:text="${reserva.id}">1</td>
                <td th:text="${#temporals.format(reserva.fechaEntrada, 'dd/MM/yyyy')}">01/01/2025</td>
                <td th:text="${#temporals.format(reserva.fechaSalida, 'dd/MM/yyyy')}">01/01/2025</td>
                <td th:text="${reserva.totalReserva}">100.00</td>
                <td th:text="${reserva.getEstado()}">Pagada</td>
                <td th:text="${reserva.getComentarios()}">Comentario</td>
                <td>
                    <a th:if="${reserva.getEstado().name() == 'PAGADA' and reserva.fechaSalida.isBefore(T(java.time.LocalDate).now())}"
                       th:href="@{/facturas/descargar-factura/{id}(id=${reserva.id})}"
                       class="btn btn-info btn-sm" target="_blank">
                        Descargar Factura
                    </a>
                    <span th:if="${reserva.getEstado().name() != 'PAGADA'}">
                        Reserva no pagada
                    </span>
                    <span th:if="${reserva.getEstado().name() == 'PAGADA' and !reserva.fechaSalida.isBefore(T(java.time.LocalDate).now())}">
                        Disponible tras la salida
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>