<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/plantilla}"
      lang="es">
<body>
<div layout:fragment="contenido">

    <main>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Mis Reservas</h1>
        </div>

        <table class="table table-bordered align-middle text-center">
            <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Fecha entrada</th>
                <th>Fecha salida</th>
                <th>Total (€)</th>
                <th>Estado</th>
                <th>Comentarios</th>
                <th>Descargar Factura</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservas : ${reserva}">
                <td th:text="${reservas.id}">1</td>
                <td th:text="${#temporals.format(reservas.fechaEntrada, 'dd/MM/yyyy')}">01/01/2025</td>
                <td th:text="${#temporals.format(reservas.fechaSalida, 'dd/MM/yyyy')}">01/01/2025</td>
                <td th:text="${reservas.totalReserva}">100.00</td>
                <td th:text="${reservas.getEstado()}">Pagada</td>
                <td th:text="${reservas.getComentarios()}">Comentario</td>
                <td>
                    <a th:href="@{'/facturas/ver/' + ${reservas.id}}"
                       class="btn btn-sm btn-primary me-1">Ver</a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>

</div>
</body>
</html>
